 <html>
   <head>
      <title>Photos/Images</title>
   </head>
   <body>
      <table width="100%">
         <thead>
            <tr>
               <u><th>Photos/Images</th></u>
            </tr>
         </thead>
         <tbody>
            
            <tr>
               <td><img width="10%" src="{{image1}}" alt="Oops! Missing photo!"></td> <br>
            </tr>

            <tr>
               <td><img width="10%" src="{{image2}}" alt="Oops! Missing photo!"></td> <br>
            </tr>
            
            <tr>
               <td><img width="10%" src="{{image3}}" alt="Oops! Missing photo!"></td> <br>
            </tr>
            
            <tr>
               <td><img width="10%" src="{{image4}}" alt="Oops! Missing photo!"></td> <br>
            </tr>
            
            <tr>
               <td><img width="10%" src="{{image5}}" alt="Oops! Missing photo"></td> <br>
            </tr>
         
         </tbody>
      </table>
   </body>
 </html>
 
