
<html>
   <head>
      <title>movie-list</title>
   </head>
   <body>
      <table style="width: 100%;">
         <thead>
            <tr>
               <u><th>Movie List</th></u>
            </tr>
         </thead>
         <tbody>
            <div class="movies">
               <ol>
                  <li>1.{{movies[0]}}</li>
                  <br> <br>
                  <li>2.{{movies[1]}}</li>
                  <br> <br>
                  <li>3.{{movies[2]}}</li>
                  <br> <br>
                  <li>4.{{movies[3]}}</li>
               </ol>
            </div>
         </tbody>
      </table>
   </body>
</html>
<!--<div class="movies">
   <u>Movie list</u>
   <ol>
      <li>{{movies[0]}}</li>
      <li>{{movies[1]}}</li>
      <li>{{movies[2]}}</li>
      <li>{{movies[3]}}</li>
   </ol>
</div>-->

 
 