
 <!--<html>
   <head>
      <title>chore-list</title>
   </head>
   <body>
      <table style="width: 100%;">
         <thead>
            <u><tr><th>chore-list</th></tr></u>
         </thead>
         <tbody>
            <div class="chores">
               <ul>
                  <li>{{chores[0]}}</li>
                  <li>{{chores[1]}}</li>
                  <li>{{chores[2]}}</li>
               </ul>
         

            </div>
            
         </tbody>
       </table>
      
         
         
   

      
      
   </body>
 </html>-->
<div class="chores">
   <u>Chore List</u>
   <ul>
      <li>{{chores[0]}}</li>
      <li>{{chores[1]}}</li>
      <li>{{chores[2]}}</li>
   </ul>
</div>

 